doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title PrimeOne
	body
		.wrap
			header.header
				.container
					.header-top
						.header-top-lang
							a(href="#").header-top-lang__item.active En
							a(href="#").header-top-lang__item Ru
							a(href="#").header-top-lang__item Esp
						a(href="#").header-top__link Online ordering
					.header-bottom
						.header-bottom__column
							nav.header-bottom-menu
								ul.header-bottom-menu-list
									li: a(href="#").header-bottom-menu__link About
									li: a(href="#").header-bottom-menu__link Menus
									li: a(href="#").header-bottom-menu__link Service info
						.header-bottom__column
							a(href="/").header-logo
								span.header-logo__text Ny
									span c's
								span.header-logo__img
									img(src="img/logo.png", alt="logo")
								span.header-logo__text Catering
						.header-bottom__column
							ul.header-bottom-menu-list
								nav.header-bottom-menu
									li: a(href="#").header-bottom-menu__link Gallery
									li: a(href="#").header-bottom-menu__link Friends
									li: a(href="#").header-bottom-menu__link Contact
			.private
				.private__column
					.private__column.ibg
						//- img(src="img/private_ibg.png", alt="private_ibg")
				.private__column
					.private-body
						.private-body__title Private catering
						.private-body__text Treat your guests to a beautifully plated dinner, hand-crafted canapes or a casual BBQ.
						.private-body-links
							a(href="#").private-body-links__btn Get a quote
							a(href="#").private-body-links__link View menus
			footer.footer
		script(src="js/main.js")