doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		title PrimeOne
	body
		.wrap
			header.header
				.container
					.header-top
						.header-top-lang
							a(href="#").header-top-lang__item.active En
							a(href="#").header-top-lang__item Ru
							a(href="#").header-top-lang__item Esp
						a(href="#").header-top__link Online ordering
					.header-bottom
						.header-bottom__column
							nav.header-bottom-menu
								ul.header-bottom-menu-list
									li: a(href="#").header-bottom-menu__link About
									li: a(href="#").header-bottom-menu__link Menus
									li: a(href="#").header-bottom-menu__link Service info
						.header-bottom__column
							a(href="/").header-logo
								span.header-logo__text Nyc's
								span.header-logo__img
									img(src="img/logo.png", alt="logo")
								span.header-logo__text Catering
						.header-bottom__column
							ul.header-bottom-menu-list
								nav.header-bottom-menu
									li: a(href="#").header-bottom-menu__link Gallery
									li: a(href="#").header-bottom-menu__link Friends
									li: a(href="#").header-bottom-menu__link Contact
			.content
				p Some content goes here.
		script(src="js/main.js")